<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- CSS -->
        <link rel="stylesheet" href="../static/style.css" type="text/css">

        <!--Font - Montserrat-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">  

        <!-- Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Favicon -->
        <link rel="icon" href="../static/images/profile.JPG">

        <title>Arnab Sagar</title>

</head>

<body>
        <!-- Scripts -->
        <div id="particles-js"></div>
        <script type="text/javascript" src="../static/particles.js"></script>
        <script type="text/javascript" src="../static/app.js"></script>
        
        <!-- Flash Card -->
<div class="card fadeIn one animate">

        <img src="../static/images/profile.JPG" alt="Arnab" style="width:100%">
        <h1>Arnab Sagar</h1>
        <p class="title">Developer, Designer and 3D Artist</p>
        <p>University of Guelph<br>Bachelor of Computing, Class of 2024</p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/arnab-sagar-894b43193/"><i class="fa fa-linkedin"></i></a> 
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/arnabsagar"><i class="fa fa-github"></i></a> 
        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/arnab.sagar/"><i class="fa fa-instagram"></i></a> 
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/arnab.sagar.988"><i class="fa fa-facebook"></i></a> 
        <a target="_blank" rel="noopener noreferrer" href="mailto:arnab.sagar47@gmail.com"><i class="fa fa-email"></i>✉</a> 
        <p class='button'><button>Get in Touch</button></p>

</div>

</body>

</html>